{% load comments i18n %}
{% load crispy_forms_tags %}


{% get_comment_form for object as form %}
<form action="{% comment_form_target %}" method="POST">
	{% csrf_token %}
	{% if not user.is_authenticated %}
	<input name="{{ form.name.name }}" class="no-display" type="text" value="{% trans 'The Client' %}" />
	<input name="{{ form.email.name }}" class="no-display" type="text" value="a@b.com" />
	{% endif %}
	{{ form.comment|as_crispy_field }}
	<div class="no-display">{{ form.honeypot }}</div>
	{{ form.content_type }}
	{{ form.object_pk }}
	{{ form.timestamp }}
	{{ form.security_hash }}
	<input type="hidden" name="next" value="{% url 'comment_success' %}" />

	<input class="btn btn-primary" type="submit" value="{% trans 'Add comment' %}"
	       id="id_submit" onclick="return confirm('{% trans "Are you sure?" %}');"/>
</form>